@font-face {
  font-family: 'Moderat-Bold';
  src: url("../assets/180123_SAI_brand_design_website_font/Moderat-Bold.otf");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Moderat-Regular';
  src: url("../assets/180123_SAI_brand_design_website_font/Moderat-Regular.otf");
  font-weight: 500;
  font-style: normal; 
}

body {
	background-color: #000000;
  overflow: hidden;
}

.bg-image {
  position: absolute;
  max-width: 100%;
  top: 0;
}
input:focus {
  outline: 0;
}

.contact-info input{
	display: flex;
	height: 35px;
    width: 300px;
	/*padding: 16px 20px;*/
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    border-color: rgb(222,219,215);
    font-family: "Moderat-Regular";
    font-size: 12px;
    border-bottom: 1px dotted rgb(222,219,215);
    background: transparent;
    /*border-style: dotted;*/
    color: rgb(222,219,215);
}
.contact-info input:focus {
    outline:none;
}
.contact-info input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px transparent inset;
}

::placeholder {
  color: rgb(222,219,215); 
}

form .contact-info{
    position: relative;
    top: 40px;
    left: 65%;
    /* transform: translate(-79%); */
}

form .age {
    position: relative;
    left: 65%;
    top: 60px;
    font-size: 12px;
  }

form .framesize {
  position: relative;
  left: 65%;
  top: 70px;
  font-size: 12px;
}

ul li { 
  display: inline-block; 
}

ul.interestgroup_field.checkbox-group {
    padding-left: 0;
    margin-top: 0;
    padding-top: 10px;
}

span {
 font-family: "Moderat-Regular";
 color: rgb(222,219,215); 
}

label {
 font-family: "Moderat-Regular";
 color: rgb(222,219,215); 
}

li {
  list-style: none;
}
#submit {
	text-align: center;
  position: relative;
	font-family: "Moderat-Bold";
    padding: 6px 120px;
    width: 100px;
    height: 35px;
    font-size: 14px;
    background-color: transparent;
    color: rgb(222,219,215);
    border-bottom: none;
    box-sizing: border-box;
    border: none;
    left: 65%;
    top: 80px;
}

/*#submit:hover {
	 color: rgb(185,0,60);
}*/

h3 {
	font-family: "Moderat-Regular";
	font-size: 12px;
	color: rgb();
	width: 440px;
	position: relative;
  line-height: 18px;
  letter-spacing: .5px;
    top: 40px;
    left: 60%;

/*    transform: translate(-82%);*/
    color: rgb(222,219,215);
    text-align: justify;
/*    text-align: center;*/
}



body, html {
  margin: 0;
  padding: 0;
}

#back {
	color: rgb(222, 219, 215);
	font-family: "Moderat-Regular";
	position: absolute;
    top: 92%;
    right: 84%;
    transform: translate(-90%);
    font-size: 14px;
    text-decoration: none;
    transition: transform 0.3s linear;
}

#back:hover {
	/*-ms-transform: translate(-5px); /* IE 9 */
    -webkit-transform: translate(-100px); /* Safari */
    transform: translate(-100px);
}

h3#redirect {
	font-family: "Moderat-Regular";
	font-size: 14px;
	color: rgb(222, 219, 215);
	width: 400px;
	position: absolute;
  line-height: 20px;
  top: 60%;
  left: 82%;
  transform: translate(-82%);
  text-align: center;
}

@media only screen and (max-width: 768px) {
	body {
		overflow: auto;
	}

  .bg-image {
    max-height: 300px;
    left: 50%;
    transform: translate(-50%);
  }

	form {
    position: absolute;
    top: 54%;
    margin: 0 auto;
    /*left: 50%;*/
    transform: translate(-50%);
    max-width: 300px;
    font-size: 12px;
	}
	.contact-info input {
    height: 35px;
    font-size: 12px;
    /*padding: 16px; */
	}
  ul.interestgroup_field.checkbox-group {
    padding-left: 0;
    margin-top: 10px;
}
	#submit {
    height: 45px;
    font-size: 12px;
    /*margin-top: 5%;*/
	}
	#back {
    color: rgb(222, 219, 215);
    font-family: "Moderat-Regular";
    position: absolute;
    top: 110%;
    left: 10%;
    width: 100px;
    transform: translate(-15%);
    font-size: 12px;
    margin-bottom: 20px;
	}

	h3 {
	font-family: "Moderat-Regular";
    font-size: 12px;
     line-height: 15px; 
	color: rgb(222, 219, 215);
    max-width: 300px; 
    max-height: 162px;
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%);
    text-align: justify;
/*    text-align: center;*/
	}

  .framesize {
    padding-top: 15px;
  }

  .age {
    padding-top: 15px;
  }

  h3#redirect {
  font-family: "Moderat-Regular";
  font-size: 14px;
  color: rgb(222, 219, 215);
  width: 400px;
  position: absolute;
  line-height: 20px;
  top: 60%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

}

@media only screen and (max-device-width: 320px) {
    body {
    overflow: auto;
    background-size: 70%;
    }

    .bg-image {
    max-height: 180px;
    left: 50%;
    transform: translate(-50%);
  }

    h3 {
      max-width: 300px;
      top: 30%;
    }
    #back {
    color: rgb(222, 219, 215);
    font-family: "Moderat-Regular";
    position: absolute;
    top: 120%;
    left: 10%;
    width: 100px;
    transform: translate(-15%);
    font-size: 12px;
    }
  form .contact-info {
    top: 64%;
  }
  #submit {
    padding: 0;
  margin-left: 40%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (max-device-height: 1024px) and (orientation: portrait) {
	h3 {
	font-family: "Moderat-Regular";
    font-size: 14px;
    top: 50%;
    max-width: 400px;
	}
	form {
    position: absolute;
		top: 68%;
	}

	
}









